:root {
	--orange: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--lightgrey: hsl(217, 12%, 63%);
	--mediumgrey: hsl(216, 12%, 54%);
	--darkblue: hsl(213, 19%, 18%);
	--verydarkblue: hsl(216, 12%, 8%);
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--verydarkblue);
}

.popup {
	width: 400px;
	height: 400px;
	outline: 1px solid black;
	background-color: var(--darkblue);
}
